<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= currentRoute %></title>
    <link rel="stylesheet" href="/folder.css">
</head>
<body>
    <h1>Current Folder: <%= currentFolderName %></h1>
    <h4>Current Filepath: <%= currentRoute %></h4>
    <h1>Options:</h1>
    <div class="link-group">
        <a href="/create/<%= currentRoute %>">Create a folder here</a>
        <a href="/upload/<%= currentRoute %>">Upload a file here</a>
        <a href="/folder/<%= previousRoute %>">Back to previous folder</a>
        <a href="/">Back to home</a>
    </div>
    <h1>Files: </h1>
    <% if(files.length === 0) { %>
        <h1>No files found</h1>
   <% } else { %>
        <div class="file-group">
        <% files.forEach((file) => { %>
            <div class="file-link-group">
                <a href="/view/<%= currentRoute%>?fileId=<%= file.id %>" class="file-details-link"><%= file.fileName %></a>
                <a href="/download?fileId=<%= file.id %>" class="download-link">download ⤓</a>
            </div>
            <% }) %>
        </div>
    <% } %>
    <h1>Sub-folders: </h1>
    <% if(subFolders.length !== 0) { %>
        <div  class="subfolder-group">
        <% subFolders.forEach((folder) => { %>
            <div class="folder-options-group">
                <a class="folder-link" href="/folder/<%= folder.folderRoute %>"><%= folder.folderName %></a> 
                <a class="update-link" href="/update/<%= folder.folderRoute %>?folderName=<%= folder.folderName %>&currentRoute=<%= currentRoute %>">Update</a>
                <a class="delete-link" href="/delete/<%= folder.folderRoute %>?folderName=<%= folder.folderName %>&currentRoute=<%= currentRoute %>" onclick="return confirm('Are you sure? This will delete the folder and all of it\'s contents.')">Delete</a>  
            </div>
        <% }) %>
        </div>
    <% } else {%>
        <h1>No sub-folders found</h1>
    <% } %>
</body>
</html>